# Dependencies
node_modules/
/.pnp
.pnp.js

# Production outputs
dist/
dist-ssr/
build/

# Testing & Coverage
coverage/
*.lcov

# Environment & Local Secrets
.env
.env.local
.env.*.local
!.env.example

# Vite cache & temporary files
.vite/
.temp/
.cache/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
